@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.errorBox{
    text-align: center;
    align-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.errorBox_errorTittle{
    font-size: 64px;
    line-height: 40px;
    font-weight: 600;
}

.errorBox_errorStatus{
    font-size: 128px;
    color: #964F73;
    line-height: 150px;
    font-weight: 600;
    margin: 32px 0 24px;
}

.errorBox_errorMessage{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}