.panelCRUD{
    display: inline;
    flex: 1;
    padding-top: 20px;
    padding-right: 24px;
}

.panelCRUD_tittle{
    padding: 16px;
}

.panelCRUD_tittle h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.panelCRUD_options{
    padding: 12px 16px;
    display: flex;
    justify-content: right;
}

.panelCRUD_button {
    background-color: var(--blue3);
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border: none;
    padding: 10px 16px;
    display: flex;
    border-radius: 12px;
    gap: 8px;
    align-items: center;
    margin-left: 10px;
    transition: all 0.3s ease; 
}

.panelCRUD_button:hover {
    background-color: var(--blue2); 
    transform: scale(1.05); 
    cursor: pointer; 
}


.panelCRUD_icon{
    align-content: center;
    width: 20px;
    height: 20px;
    padding-top: 2px;
}

.panelCRUD_tableState {
    border-radius: 12px;
    padding: 5.5px 21px;
    margin: 10px 0;
    background-color: var(--green2);
    flex: 1 1 auto; 
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: clamp(12px, 2vw, 14px); 
    line-height: 1.5; /* Relativo para mejor escalabilidad */
    word-wrap: break-word; /* Permite que el texto se envuelva */
    white-space: normal; /* Permite el ajuste de línea */
}

.panelCRUD_tableState{
    border-radius: 12px;
    padding: 5.5px 21px;
    background-color: var(--green2);
    flex: 1;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.panelCRUD_tableState--Recibido, .panelCRUD_tableState--Creado, .panelCRUD_tableState--Sinasignar, .panelCRUD_tableState--Libre{
    background-color: var(--blue1);
}

.panelCRUD_tableState--Nodisponible, .panelCRUD_tableState--Fallido, .panelCRUD_tableState--Devuelto, .panelCRUD_tableState--Noentregado{
    background-color: var(--red2);
}

.panelCRUD_tableState--Disponible, .panelCRUD_tableState--Asignado, .panelCRUD_tableState--Ocupado{
    background-color: rgb(226, 194, 32);
}

.panelCRUD_tableState--Terminado, .panelCRUD_tableState--Exito, .panelCRUD_tableState--Entregado{
    background-color: var(--green2);
}

.panelCRUD_tableState--Activo{
    background-color: var(--blue1);
}

.panelCRUD_tableState--Inactivo{
    background-color: #E2E2E4;
}

.panelCRUD_tableState--Almacen{
    background-color: #E2E2E4;
}

.panelCRUD_formContainer{
    margin: 0px 50px;
    border-radius: 10px;
    border: 1px solid var(--lightBlue2);
    height: 100%;
    overflow-y:auto;

}

.panelCRUD_formContainer legend{
    margin-left: 15px;
    padding: 0px 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: var(--blue4);
}

.panelCRUD_container{
    padding-top: 20px;
    padding-bottom: 100px;

}

.panelCRUD_formContainer form{
    display: flex;
    flex-direction: column;
    padding: 12px 22px 12px 45px ;
}

.panelCRUD_formInput{
    display: flex;
    align-items: center;
}

.panelCRUD_formInput label{
    padding: 10.5px 16px;
    width: 173px;
    box-sizing: border-box;
}

.panelCRUD_formInput input{
    font-family: "Work Sans", sans-serif;
    appearance: none;
	color: #1D1D1D;
    border-radius: 12px;
	font-size: 16px;
    font-weight: 400;
	line-height: 21px;
    border: none;
	border-bottom:1.5px solid var(--lightBlue2);
	background: transparent;
	visibility: visible;
	width: 60%;
	padding: 9.5px 16px; 
    outline: none;
    height: 43px;
}

.panelCRUD_formInput .custom-select{
	width: 60%;
}

.panelCRUD_formInput label{
    font-family: "Work Sans", sans-serif;
	color: #1D1D1D;
	font-size: 16px;
    font-weight: 700;
	line-height: 21px;
}

.panelCRUD_buttonGroup{
    display: flex;
    padding-top: 12px;
    justify-content: end;
}

.panelCRUD_tableOptions{
    display: flex;
    gap: 25px;
}

.panelCRUD_tableIcon{
    text-align: right;
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease-in-out, opacity 0.2s;
}

.panelCRUD_tableIcon:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

.panelCRUD_iconJoiner{
    position: relative;
}

.panelCRUD_iconJoiner .panelCRUD_tableIcon:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}

form button{
    font-weight: 600;
    border: none;
    padding: 5.5px 57.5px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
    margin: 6.5px 16px;
    font-size: 14px;
    line-height: 21px;
}

form button[type=submit]{
    background-color: var(--blue2);
}

::placeholder {
    color: #1D1D1D;
    opacity: 1;
}

input[type=date]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}
.transparent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.panelCRUD_divider{
    display: flex;
}

.panelCRUD_map{
    flex: 1;
    padding: 10px 0px 10px 30px;
}

.panelCRUD_Form{
    height: 100%;
    flex: 1.5;
    display: flex; 
    justify-content: space-between
}